Repository tedilabs/terraform-aws-network, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

.github/labeler.yaml:

# Modules
":floppy_disk: nacl":
- modules/nacl/**/*

":floppy_disk: nat-gateway":
- modules/nat-gateway/**/*

":floppy_disk: route-table":
- modules/route-table/**/*

":floppy_disk: security-group":
- modules/security-group/**/*

":floppy_disk: subnet-group":
- modules/subnet-group/**/*

":floppy_disk: vpc":
- modules/vpc/**/*

Support ram sharing for subnet-group module
  examples/vpc-full/subnet-groups.tf
  modules/subnet-group/README.md
  modules/subnet-group/main.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/ram-share.tf
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

Support ram sharing for subnet-group module (#56)
  examples/vpc-full/subnet-groups.tf
  modules/subnet-group/README.md
  modules/subnet-group/main.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/ram-share.tf
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

Fix typo in nacl module
  modules/nacl/README.md
  modules/nacl/main.tf
  modules/nacl/variables.tf
  modules/nacl/versions.tf
Labels: :floppy_disk: nacl

Fix typo in vpc module
  modules/vpc/README.md
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

Change `subnets[].type` to optional in subnet-group module
  modules/subnet-group/README.md
  modules/subnet-group/variables.tf
  modules/subnet-group/versions.tf
Labels: :floppy_disk: subnet-group

Refine route-table module
  modules/route-table/README.md
  modules/route-table/main.tf
  modules/route-table/outputs.tf
  modules/route-table/routes.tf
  modules/route-table/variables.tf
  modules/route-table/versions.tf
Labels: :floppy_disk: route-table

Update vpc-full example
  examples/vpc-full/nacls.tf
  examples/vpc-full/outputs.tf
  examples/vpc-full/route-tables.tf
Labels: none

Update route-table
  modules/route-table/main.tf
  modules/route-table/outputs.tf
Labels: :floppy_disk: route-table

Bump to v0.30.0
  VERSION
Labels: none

Update description for variables
  modules/subnet-group/README.md
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

Refactor security-group module
  README.md
  examples/security-group-simple/main.tf
  examples/security-group-simple/outputs.tf
  examples/security-group-simple/versions.tf
  examples/security-group-with-ipv4-cidrs/main.tf
  examples/security-group-with-ipv4-cidrs/outputs.tf
  examples/security-group-with-ipv4-cidrs/versions.tf
  modules/security-group/README.md
  modules/security-group/main.tf
  modules/security-group/outputs.tf
  modules/security-group/rules.tf
  modules/security-group/variables.tf
  modules/vpc/README.md
  modules/vpc/variables.tf
Labels: :floppy_disk: security-group, :floppy_disk: vpc

Refactor security-group module (#57)
  README.md
  examples/security-group-simple/main.tf
  examples/security-group-simple/outputs.tf
  examples/security-group-simple/versions.tf
  examples/security-group-with-ipv4-cidrs/main.tf
  examples/security-group-with-ipv4-cidrs/outputs.tf
  examples/security-group-with-ipv4-cidrs/versions.tf
  modules/security-group/README.md
  modules/security-group/main.tf
  modules/security-group/outputs.tf
  modules/security-group/rules.tf
  modules/security-group/variables.tf
  modules/vpc/README.md
  modules/vpc/variables.tf
Labels: :floppy_disk: security-group, :floppy_disk: vpc

Bump to v0.31.0
  VERSION
Labels: none

Fix recreation bug in availability_zone_id for subnet-group
  VERSION
  modules/subnet-group/main.tf
Labels: :floppy_disk: subnet-group

Support transit gateway vpc attachments for subnet-group module
  VERSION
  modules/subnet-group/README.md
  modules/subnet-group/integrations.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

Fix bug in ram-shared transit gateway vpc attachment
  modules/subnet-group/README.md
  modules/subnet-group/integrations.tf
Labels: :floppy_disk: subnet-group

Update dependabot
  .github/dependabot.yml
Labels: none

Support ipv6_address_preferred_lease_time for vpc dhcp options set
  modules/vpc/dhcp-options.tf
  modules/vpc/outputs.tf
  modules/vpc/variables.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: vpc

Support ipv6_address_preferred_lease_time for vpc dhcp options set (#70)
  modules/vpc/dhcp-options.tf
  modules/vpc/outputs.tf
  modules/vpc/variables.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: vpc

Bump to v0.32.1
  VERSION
Labels: none
