Repository tedilabs/terraform-aws-network, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

.github/labeler.yaml:

# Modules
":floppy_disk: nacl":
- changed-files:
  - any-glob-to-any-file:
    - modules/nacl/**/*

":floppy_disk: nat-gateway":
- changed-files:
  - any-glob-to-any-file:
    - modules/nat-gateway/**/*

":floppy_disk: route-table":
- changed-files:
  - any-glob-to-any-file:
    - modules/route-table/**/*

":floppy_disk: security-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/security-group/**/*

":floppy_disk: subnet-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/subnet-group/**/*

":floppy_disk: vpc":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/nacl/README.md
  modules/nat-gateway/README.md
  modules/route-table/README.md
  modules/security-group/README.md
  modules/subnet-group/README.md
  modules/vpc/README.md
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

fix: correct outputs in route-table module
  modules/route-table/README.md
  modules/route-table/outputs.tf
Labels: :floppy_disk: route-table

fix(route-table): fix output error for prefix_list_routes
  modules/route-table/outputs.tf
Labels: :floppy_disk: route-table

chore: bump to v0.32.2
  VERSION
Labels: none

feat(security-group): create security group before destroy
  modules/security-group/README.md
  modules/security-group/main.tf
Labels: :floppy_disk: security-group

chore: bump to v0.32.3
  VERSION
Labels: none

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#75)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/nacl/outputs.tf
  modules/nacl/resource-group.tf
  modules/nacl/variables.tf
  modules/nat-gateway/outputs.tf
  modules/nat-gateway/resource-group.tf
  modules/nat-gateway/variables.tf
  modules/route-table/outputs.tf
  modules/route-table/resource-group.tf
  modules/route-table/variables.tf
  modules/security-group/outputs.tf
  modules/security-group/resource-group.tf
  modules/security-group/variables.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/resource-group.tf
  modules/subnet-group/variables.tf
  modules/vpc/outputs.tf
  modules/vpc/resource-group.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

feat: improve how to use resource_group in modules (#76)
  modules/nacl/outputs.tf
  modules/nacl/resource-group.tf
  modules/nacl/variables.tf
  modules/nat-gateway/outputs.tf
  modules/nat-gateway/resource-group.tf
  modules/nat-gateway/variables.tf
  modules/route-table/outputs.tf
  modules/route-table/resource-group.tf
  modules/route-table/variables.tf
  modules/security-group/outputs.tf
  modules/security-group/resource-group.tf
  modules/security-group/variables.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/resource-group.tf
  modules/subnet-group/variables.tf
  modules/vpc/outputs.tf
  modules/vpc/resource-group.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

feat(nat-gateway): support separated resource management for `aws_nat_gateway_eip_association`
  modules/nat-gateway/README.md
  modules/nat-gateway/main.tf
  modules/nat-gateway/outputs.tf
  modules/nat-gateway/resource-group.tf
  modules/nat-gateway/variables.tf
  modules/nat-gateway/versions.tf
Labels: :floppy_disk: nat-gateway

feat(subnet-group): support cidr reservations
  modules/subnet-group/README.md
  modules/subnet-group/integrations.tf
  modules/subnet-group/main.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/ram-share.tf
  modules/subnet-group/resource-group.tf
  modules/subnet-group/variables.tf
  modules/subnet-group/versions.tf
Labels: :floppy_disk: subnet-group

feat(nacl): support `region` parameter for aws v6
  modules/nacl/README.md
  modules/nacl/main.tf
  modules/nacl/outputs.tf
  modules/nacl/resource-group.tf
  modules/nacl/variables.tf
  modules/nacl/versions.tf
Labels: :floppy_disk: nacl

feat(route-table): support `region` parameter for aws v6
  modules/route-table/README.md
  modules/route-table/main.tf
  modules/route-table/outputs.tf
  modules/route-table/resource-group.tf
  modules/route-table/routes.tf
  modules/route-table/variables.tf
  modules/route-table/versions.tf
Labels: :floppy_disk: route-table

feat(security-group): support `region` parameter for aws v6
  modules/security-group/README.md
  modules/security-group/main.tf
  modules/security-group/outputs.tf
  modules/security-group/resource-group.tf
  modules/security-group/rules.tf
  modules/security-group/variables.tf
  modules/security-group/versions.tf
Labels: :floppy_disk: security-group

feat(vpc): support `region` parameter for aws v6
  modules/vpc/README.md
  modules/vpc/defaults.tf
  modules/vpc/dhcp-options.tf
  modules/vpc/gateways.tf
  modules/vpc/main.tf
  modules/vpc/outputs.tf
  modules/vpc/resource-group.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: vpc

chore: bump to v1.0.0
  VERSION
Labels: none

chore: update example codes
  examples/nat-gateway-private-secondary-ip-addresses/main.tf
  examples/nat-gateway-private-secondary-ip-addresses/versions.tf
  examples/nat-gateway-private/main.tf
  examples/nat-gateway-private/versions.tf
  examples/nat-gateway-public/main.tf
  examples/nat-gateway-public/versions.tf
  examples/security-group-simple/versions.tf
  examples/security-group-with-ipv4-cidrs/versions.tf
  examples/vpc-full/nat-gateways.tf
  examples/vpc-full/versions.tf
  examples/vpc-ipv4-secondary-cidrs/versions.tf
  examples/vpc-ipv6-cidrs/versions.tf
  examples/vpc-simple/versions.tf
  examples/vpc-with-ipam/versions.tf
Labels: none

feat(vpc): support block public access exclusion
  modules/vpc/README.md
  modules/vpc/main.tf
  modules/vpc/outputs.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

feat(subnet-group): support block public access exclusion
  modules/subnet-group/README.md
  modules/subnet-group/main.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

fix(subnet-group): fix typo
  modules/subnet-group/main.tf
  modules/subnet-group/outputs.tf
Labels: :floppy_disk: subnet-group

fix(vpc): fix typo
  modules/vpc/main.tf
Labels: :floppy_disk: vpc

feat(security-group): support ram share
  modules/security-group/README.md
  modules/security-group/outputs.tf
  modules/security-group/ram-share.tf
  modules/security-group/variables.tf
Labels: :floppy_disk: security-group

chore: bump to v1.0.1
  VERSION
Labels: none

fix(route-table): fix typo
  modules/route-table/outputs.tf
Labels: :floppy_disk: route-table

chore: bump to v1.0.2
  VERSION
Labels: none

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(vpc): support route53 autodefined reserse dns resolution config
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

feat(vpc): support route53 profile associations
  modules/vpc/README.md
  modules/vpc/main.tf
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

chore: bump to v1.1.0
  VERSION
Labels: none

fix(security-group): update ram-share module
  modules/security-group/README.md
  modules/security-group/ram-share.tf
Labels: :floppy_disk: security-group

fix(subnet-group): update ram-share module
  modules/subnet-group/README.md
  modules/subnet-group/ram-share.tf
Labels: :floppy_disk: subnet-group

chore: bump to v1.1.1
  VERSION
Labels: none

feat(subnet-group): support aws v6 ofor transit_gateway_attachments
  modules/subnet-group/README.md
  modules/subnet-group/integrations.tf
  modules/subnet-group/outputs.tf
  modules/subnet-group/variables.tf
Labels: :floppy_disk: subnet-group

fix(vpc): support only one route53 resolver profile association
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

chore: bump to v1.2.0
  VERSION
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none
