Repository tedilabs/terraform-aws-network, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

.github/labeler.yaml:

# Modules
":floppy_disk: nacl":
- changed-files:
  - any-glob-to-any-file:
    - modules/nacl/**/*

":floppy_disk: nat-gateway":
- changed-files:
  - any-glob-to-any-file:
    - modules/nat-gateway/**/*

":floppy_disk: route-table":
- changed-files:
  - any-glob-to-any-file:
    - modules/route-table/**/*

":floppy_disk: security-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/security-group/**/*

":floppy_disk: subnet-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/subnet-group/**/*

":floppy_disk: vpc":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc/**/*

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#77)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow (#81)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

fix(security-group): makes `from_port` and `to_port` to be optional
  modules/security-group/README.md
  modules/security-group/variables.tf
Labels: :floppy_disk: security-group

fix(vpc): update `Name` tag for route53 profile association
  modules/vpc/README.md
  modules/vpc/route53.tf
Labels: :floppy_disk: vpc

chore: bump to v1.2.1
  VERSION
Labels: none

fix(vpc): makes `from_port` and `to_port` to be optional
  modules/vpc/README.md
  modules/vpc/defaults.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

fix(subnet-group): makes `aws_vpc_block_public_access_exclusion` resource creation to be deterministic
  modules/subnet-group/README.md
  modules/subnet-group/main.tf
Labels: :floppy_disk: subnet-group

chore: bump to v1.2.2
  VERSION
Labels: none

fix(nacl): fix typo
  modules/nacl/README.md
  modules/nacl/variables.tf
Labels: :floppy_disk: nacl

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#85)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#86)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

feat(vpc): support query logging config associations for Route53 Resolver
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

feat(vpc): support query logging config associations for Route53 Resolver (#87)
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

chore: bump to v1.2.3
  VERSION
Labels: none

chore(deps): align tedilabs child module version constraints with latest releases
  examples/nat-gateway-private-secondary-ip-addresses/main.tf
  examples/nat-gateway-private/main.tf
  examples/nat-gateway-public/main.tf
  examples/security-group-simple/main.tf
  examples/security-group-with-ipv4-cidrs/main.tf
  examples/vpc-full/main.tf
  examples/vpc-full/nacls.tf
  examples/vpc-full/nat-gateways.tf
  examples/vpc-full/route-tables.tf
  examples/vpc-full/subnet-groups.tf
  examples/vpc-ipv4-secondary-cidrs/main.tf
  examples/vpc-ipv6-cidrs/main.tf
  examples/vpc-simple/main.tf
  examples/vpc-with-ipam/ipam.tf
  examples/vpc-with-ipam/main.tf
  modules/security-group/ram-share.tf
  modules/subnet-group/ram-share.tf
Labels: :floppy_disk: security-group, :floppy_disk: subnet-group

chore(deps): align tedilabs child module version constraints with latest releases (#88)
  examples/nat-gateway-private-secondary-ip-addresses/main.tf
  examples/nat-gateway-private/main.tf
  examples/nat-gateway-public/main.tf
  examples/security-group-simple/main.tf
  examples/security-group-with-ipv4-cidrs/main.tf
  examples/vpc-full/main.tf
  examples/vpc-full/nacls.tf
  examples/vpc-full/nat-gateways.tf
  examples/vpc-full/route-tables.tf
  examples/vpc-full/subnet-groups.tf
  examples/vpc-ipv4-secondary-cidrs/main.tf
  examples/vpc-ipv6-cidrs/main.tf
  examples/vpc-simple/main.tf
  examples/vpc-with-ipam/ipam.tf
  examples/vpc-with-ipam/main.tf
  modules/security-group/ram-share.tf
  modules/subnet-group/ram-share.tf
Labels: :floppy_disk: security-group, :floppy_disk: subnet-group

fix(examples): pass default_network_acl ingress rules as a keyed map in vpc-full
  examples/vpc-full/main.tf
Labels: none

fix(examples): pass default_network_acl ingress rules as a keyed map in vpc-full (#89)
  examples/vpc-full/main.tf
Labels: none

fix(examples): replace deprecated aws_region name attribute with region
  examples/vpc-with-ipam/ipam.tf
Labels: none

fix(examples): replace deprecated aws_region name attribute with region (#91)
  examples/vpc-with-ipam/ipam.tf
Labels: none

feat(vpc): support fail open configuration for Route53 Resolver DNS Firewall
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

refactor(vpc): manage DNS Firewall via tedilabs dns-firewall module with rule group associations
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc

feat(vpc): support DNS Firewall configuration and rule group associations for Route53 Resolver (#94)
  modules/vpc/README.md
  modules/vpc/outputs.tf
  modules/vpc/route53.tf
  modules/vpc/variables.tf
Labels: :floppy_disk: vpc
