Repository tedilabs/terraform-aws-network, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/nacl/README.md
  modules/nat-gateway/README.md
  modules/route-table/README.md
  modules/security-group/README.md
  modules/subnet-group/README.md
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group

docs: regenerate terraform-docs with shared config (#95)
  modules/nacl/README.md
  modules/nat-gateway/README.md
  modules/route-table/README.md
  modules/security-group/README.md
  modules/subnet-group/README.md
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

fix(security-group): scope metadata name by VPC
  modules/security-group/main.tf
Labels: :floppy_disk: security-group

fix(security-group): scope metadata name by VPC (#96)
  modules/security-group/main.tf
Labels: :floppy_disk: security-group

feat: collect module usage telemetry
  modules/nacl/README.md
  modules/nacl/telemetry.tf
  modules/nacl/versions.tf
  modules/nat-gateway/README.md
  modules/nat-gateway/telemetry.tf
  modules/nat-gateway/versions.tf
  modules/route-table/README.md
  modules/route-table/telemetry.tf
  modules/route-table/versions.tf
  modules/security-group/README.md
  modules/security-group/telemetry.tf
  modules/security-group/versions.tf
  modules/subnet-group/README.md
  modules/subnet-group/telemetry.tf
  modules/subnet-group/versions.tf
  modules/vpc/README.md
  modules/vpc/telemetry.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

feat: collect module usage telemetry (#97)
  modules/nacl/README.md
  modules/nacl/telemetry.tf
  modules/nacl/versions.tf
  modules/nat-gateway/README.md
  modules/nat-gateway/telemetry.tf
  modules/nat-gateway/versions.tf
  modules/route-table/README.md
  modules/route-table/telemetry.tf
  modules/route-table/versions.tf
  modules/security-group/README.md
  modules/security-group/telemetry.tf
  modules/security-group/versions.tf
  modules/subnet-group/README.md
  modules/subnet-group/telemetry.tf
  modules/subnet-group/versions.tf
  modules/vpc/README.md
  modules/vpc/telemetry.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

fix: honor telemetry opt-out
  modules/nacl/telemetry.tf
  modules/nat-gateway/telemetry.tf
  modules/route-table/telemetry.tf
  modules/security-group/telemetry.tf
  modules/subnet-group/telemetry.tf
  modules/vpc/telemetry.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

fix: honor telemetry opt-out (#98)
  modules/nacl/telemetry.tf
  modules/nat-gateway/telemetry.tf
  modules/route-table/telemetry.tf
  modules/security-group/telemetry.tf
  modules/subnet-group/telemetry.tf
  modules/vpc/telemetry.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/nacl/README.md
  modules/nacl/telemetry.tf
  modules/nacl/versions.tf
  modules/nat-gateway/README.md
  modules/nat-gateway/telemetry.tf
  modules/nat-gateway/versions.tf
  modules/route-table/README.md
  modules/route-table/telemetry.tf
  modules/route-table/versions.tf
  modules/security-group/README.md
  modules/security-group/telemetry.tf
  modules/security-group/versions.tf
  modules/subnet-group/README.md
  modules/subnet-group/telemetry.tf
  modules/subnet-group/versions.tf
  modules/vpc/README.md
  modules/vpc/telemetry.tf
  modules/vpc/versions.tf
Labels: :floppy_disk: nacl, :floppy_disk: nat-gateway, :floppy_disk: route-table, :floppy_disk: security-group, :floppy_disk: subnet-group, :floppy_disk: vpc

.github/labeler.yaml:

# Modules
":floppy_disk: nacl":
- changed-files:
  - any-glob-to-any-file:
    - modules/nacl/**/*

":floppy_disk: nat-gateway":
- changed-files:
  - any-glob-to-any-file:
    - modules/nat-gateway/**/*

":floppy_disk: route-table":
- changed-files:
  - any-glob-to-any-file:
    - modules/route-table/**/*

":floppy_disk: security-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/security-group/**/*

":floppy_disk: subnet-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/subnet-group/**/*

":floppy_disk: vpc":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc/**/*
